[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	uncommit = reset HEAD^1
	br = branch
	co = checkout
	ci = commit
	cm = commit -m
[push]
	default = simple
