[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	uncommit = reset HEAD^1
	br = branch
	co = checkout
	ci = commit
	cm = commit -m
	rbi = "!f() { git rebase -i $1~1; }; f"
    rbc = !EDITOR=cat git rebase --continue
	rbonto = "!f() { git rebase --onto $1 $2~1; }; f"

[push]
	default = simple
